<div class="row">
    <div class="col-md-12">
        <%= form_for(@chef,:html=>{class: "form-horizontal",role:"form"}) do |f| %>
            <div class="form-group">
                <div class="control-label col-md-2">
                    <%= f.label :name,"Choose Chefname" %>
                </div>
                <div class="col-md-8">
                    <%= f.text_field :name,class: "form-control",placeholder: "Enter your name",autofocus:true %>
                </div>
            </div>
            <div class="form-group">
                <div class="control-label col-md-2">
                    <%= f.label :email,"Email" %>
                </div>
                <div class="col-md-8">
                    <%= f.text_field :email,class: "form-control",placeholder: "Enter your email",autofocus:true %>
                </div>
            </div>
            <div class="form-group">
                <div class="control-label col-md-2">
                    <%= f.label :password %>
                </div>
                <div class="col-md-8">
                    <%= f.text_field :password,type: "password",class: "form-control",placeholder: "Choose a password",autofocus:true %>
                </div>
            </div>
            <div class="form-group">
                <div class="control-label col-md-2">
                    <%= f.label :password_confirmation,"Confirm Password" %>
                </div>
                <div class="col-md-8">
                    <%= f.text_field :password_confirmation,type: "password",class: "form-control",placeholder: "Confirm password",autofocus:true %>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <%= f.submit(@chef.new_record? ? "Create Account" : "Update Account", class: "btn btn-primary btn-lg btn-xlarge") %>
                </div>
            </div>
        <% end %>
        <div class="center colormatch">
            Already have an Account? [ <%= link_to "Log in",login_path %> ]
        </div>
    </div>
</div>
