<%= render "shared/page_title",  title: "Recipe Name: "+@recipe.name %>
<div class="well col-md-8 col-md-offset-2" >
    <h4 class="center description" ><strong>Steps: </strong></h4>
    <hr />
    <div align="center" >
        <%= simple_format(@recipe.description) %>
        <hr />
        <% if @recipe.ingredients.any? %>
            <p>Ingredient: <%= render @recipe.ingredients %></p>
        <% end %>
        <div class ="pull-right">
            <p class="center">
                <em>Created by:</em>
            </p>
            <p>
                <%= link_to gravatar_for(@recipe.chef),recipe_path%>
            </p>
            <p class="center" >
                <small><%= @recipe.chef.name.capitalize%> </small>
                <div class="pull-right"><%= time_ago_in_words(@recipe.created_at)%> ago</div>
            </p>
        </div>
    </div>
    <div class="recipe-actions">
        <% if logged_in? && (current_chef ==@recipe.chef || current_chef.admin?) %>
            <%= link_to "Edit this recipe",edit_recipe_path(@recipe),class: "btn btn-xs btn-warning" %>
            <%= button_to "Delete this recipe",recipe_path(@recipe),class: "btn btn-xs btn-danger",method: :delete,data: {turbo_confirm: "Are you sure?"}%>
        <% end %>
        <%= link_to "Return this recipe Listing",recipes_path,class: "btn btn-xs btn-primary" %>
    </div>
</div>
